
<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <p>Copyright <a target="_blank">@2016-2017 </a>西北战场环境数据中心.</p>
        <p>Powered by: 中国人民解放军陆军第三测绘导航基地.</p>
    </div>
</footer>

</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
</html>