<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="ccl">
    <link rel="icon" href="/img/favicon.ico">

    <title>中巴地区重要地理要素展示</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <link href="/stylesheets/blog.css" rel="stylesheet">
    <link href="/stylesheets/docs.min.css" rel="stylesheet">

    <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
    <link href="/stylesheets/style.css"  rel="stylesheet" >
    <link href="/stylesheets/leaflet.css"  rel="stylesheet" >
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" >
    <!--<link href="/stylesheets/leaflet.draw.css" media="screen" rel="stylesheet" type="text/css">-->
    <!--<link href="/stylesheets/L.Control.Zoomslider.css" media="screen" rel="stylesheet" type="text/css">-->
    <!--<link href="/stylesheets/L.Control.MousePosition.css" media="screen" rel="stylesheet" type="text/css">-->
    <!--<link href="/stylesheets/leaflet.awesome-markers.css" media="screen" rel="stylesheet" type="text/css">-->
    <link href="/stylesheets/iconLayers.css"  rel="stylesheet" >
    <link href="/stylesheets/default.css" rel="stylesheet" >
    <link href="/stylesheets/component.css"  rel="stylesheet" >

    <script src="/javascripts/ie-emulation-modes-warning.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
    <script  src="/javascripts/jquery-ui.js"></script>
    <script  src="/javascripts/leaflet.js"></script>
    <!--<script  src="/javascripts/leaflet.draw.js"></script>-->
    <!--<script  src="/javascripts/leaflet.zoomcss.js"></script>-->
    <!--<script  src="/javascripts/leaflet.ajax.min.js"></script>-->
    <!--<script  src="/javascripts/leaflet.contextmenu.js"></script>-->
    <!--<script  src="/javascripts/leaflet.zoomhome.min.js"></script>-->
    <!--<script  src="/javascripts/leaflet.measurecontrol.js"></script>-->
    <!--<script  src="/javascripts/leaflet.awesome-markers.min.js"></script>-->
    <!--<script  src="/javascripts/L.TileLayer.Multi.js"></script>-->
    <script  src="/javascripts/Control.FullScreen.js"></script>
    <script  src="/javascripts/leaflet.zoomdisplay.js"></script>
    <!--<script  src="/javascripts/L.Control.Zoomslider.js"></script>-->
    <script  src="/javascripts/L.Control.MousePosition.js"></script>
    <!--<script  src="/javascripts/iconLayers.js"></script>-->
    <!--<script  src="/javascripts/leaflet.utfgrid.js"></script>-->
    <!--<script  src="/javascripts/leaflet-mod-search.js"></script>-->
    <!--<script  src="/javascripts/leaflet-mod.js"></script>-->
    <script  src="/javascripts/ZeroClipboard.js"></script>

</head>
<body>
<!-- Docs master nav -->
<nav class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">首页</a>
            <a href="/map" class="navbar-brand">地图</a>
            <a href="/home" class="navbar-brand">照片导入</a>
        </div>
        <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <% if (!locals.user) { %>
                <li class="active"><a href="/login">登入</a></li>
                <li><a href="/reg">注册</a></li>
                <% } else { %>
                <li><a href="/logout">登出</a></li>
                <% } %>
                </ul>
                <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
                </form>
        </div>
    </div>
</nav>

  <div id="container" class="container">
    <% if (success) { %>
    <div class="alert alert-success">
      <%= success %>
    </div>
    <% } %>
    <% if (error) { %>
    <div class="alert alert-danger">
      <%= error %>
    </div>
    <% } %>
  </div>